.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  position: relative;
  gap: 4px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.count {
  font-family: 'Iceland';
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  color: #F2F2F3;
  margin: 0;
}

.price {
  display: flex;
  gap: 8px;
}

.description {
  max-width: 220px;
  text-align: center;
}